<widget id="A6965220651799"  version="0.0.1">
    <name>RongCloud For ApiCloud</name>
    <description>
        a sample RongCloud app.
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        developer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="bounces" value="true" />
    <feature name="rongCloud2">
        <param name="appKey" value="z3v5yqkbv8v30" />
    </feature>
</widget>